/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1) Normalize
2) Typography
3) Elements
4) Forms
5) Navigation
	5.1) Links
	5.2) Menus
6) Accessibility
7) Alignments
8) Clearings
9) Widgets
10) Content
    10.1) Posts and pages
	10.2) Asides
	10.3) Comments
	10.4) Footer
11) Infinite scroll
12) Media
	12.1) Captions
	12.2) Galleries
	12.3) Sliders
	12.4) SiteOrigin Page Builder
13) Linearicons-Free Fonts
--------------------------------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

/*--------------------------------------------------------------
1) Normalize
--------------------------------------------------------------*/
html {
	font-family: 'Open Sans', sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}
html,body{
-webkit-font-smoothing: antialiased; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
	text-decoration:none;
}

a:active,
a:hover {
	outline: 0;
	text-decoration:none;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	border:1px solid #eee;
}

td,
th {
	padding: 10px;
	border:1px solid #efefef;
}

.btn-normal { 
	color:#0583e4; 
	border:1px solid #0583e4; 
}
.btn-normal:hover { 
	color:#fff; 
}
.btn-default, .btn-orange, .btn-blue  { 
	color:#fff !important;
	font-size:15px;
	border:none;
	background:none;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px;   
} 
.btn-default, .btn-default:active, .btn-default:focus, .btn-normal:focus { 
	color:#fff;
	background:none;
}
.btn-default {
	color:#fff;
	border:1px solid #fff;
}
.btn-default:hover, .btn-orange { 
	color:#fff;
	background:#ff5722; 
	border:1px solid #ff5722;
}

.btn-orange, .btn-orange:active, .btn-orange:focus {
	color:#fff !important;
	background:#ff5722;
	border:none; 
}
.btn-orange:hover, .btn-normal:hover {
	color:#fff;
	background:#0583e4;
}
#main a.btn-link {
	color:#262c38 !important;	
}
#main a:hover.btn-link {
	color:#ff5722 !important;	
}
#main a.btn-normal { color:#0583e4!important; }
#main a:hover.btn-normal {
	color:#fff !important;	
}

a:hover.btn-orange {
	color:#fff;
	background:#0583e4;
}

.btn-blue, .btn-blue:active, .btn-blue:focus {
	color:#fff;
	background:#0583e4; 
}
#mp-checkout-form .mp_button-checkout-next-step {
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px;
	font:15px Montserrat,sans-serif;
	color:#fff; 
	background:#0583e4; 
	border:none;
}
#mp-checkout-form .mp_button-checkout-next-step:hover
#mp-checkout-form .mp_button-checkout-next-step:focus {
	color:#fff; 
	background:#ff5722; 
}
.mp_cart_meta a.mp_button-checkout, .mp_cart_meta .mp_button-checkout { 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px;
	font:15px Montserrat,sans-serif;
	color:#fff !important; 
	background-color:#ff5722 !important; 
	border:none !important;
}
.mp_cart_meta a:hover.mp_button-checkout,
.mp_cart_meta .mp_button-checkout:hover,
.mp_cart_meta .mp_button-checkout:focus, 
.mp_cart_meta a:focus.mp_button-checkout  { 
	color:#fff !important; 
	background:#0583e4 !important;
}
.btn-blue:hover {
	color:#fff;
	background:#ff5722;
}
.btn-ex-small { padding:8px 15px; font-size:12px; }
.btn-small { padding:10px 25px; }
.btn-medium { padding:15px 25px; }
.btn-large { padding:22px 40px; }

.btn i { position:relative; margin:0 10px; top:2px; }
.input-group-btn .btn i { margin:0 10px 0 0; }

.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background-color: #ffffff;
}
.page-loader-img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
/*--------------------------------------------------------------
2) Typography
--------------------------------------------------------------*/
html,
body,
button,
input,
select,
textarea {
	color: #657184;
	font-family:  Open Sans, sans-serif;
	font-size: 14px;
	line-height: 1.9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	color:#262c38; 
	font-weight:bold;
	font-family:Montserrat, sans-serif;
}
h2.text-center { 
	background-position:center bottom; 
}
.panel-grid-cell h3.widget-title {
	font-size:30px;
}
.head-border-default, .head-border-orange, .panel-grid-cell h3.widget-title, .contact-form h3 {
	margin-bottom: 35px;
    padding-bottom: 18px;
}
.head-border-default, .panel-grid-cell h3.widget-title, .contact-form h3 { 
	background:url(../../images/border_bottom.png) no-repeat left bottom; 
}
.head-border-orange {
	background:url(../../images/border_bottom_orange.png) no-repeat center bottom; 
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 0 1em 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size:1.1rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 1.2rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
3) Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 0;
	padding:0 0 0 1.3em;
}

ul {
	list-style: disc;
}
ul.bullet { list-style:none; padding:0; }
ul.bullet li {
	background:url(../../images/bullet.png) no-repeat left 6px;
	padding:0;
	padding-left:25px;
	border:none;
	border-radius:0;
}
#main li { 
	margin-bottom:9px;
	margin-top:9px;  
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}
figure {
    margin: 0;
}
.img-thumb {
	display: block;
	overflow: hidden;
}
.img-thumb img {
	display: block;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}
.img-thumb:hover img, .img-thumb:focus img, .zoom:hover img {
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}



/*
Global Animations Style
 ----------------------------------------*/
.anim-section {
	position: relative;
	-webkit-transition: all 600ms ease-in-out;
	-moz-transition: all 600ms ease-in-out;
	-ms-transition: all 600ms ease-in-out;
	-o-transition: all 600ms ease-in-out;
	transition: all 600ms ease-in-out;
	-moz-transform: translateY(80px);
	-webkit-transform: translateY(80px);
	-o-transform: translateY(80px);
	-ms-transform: translateY(80px);
	transform: translateY(80px);
	visibility: visible;
	opacity: 0
}
.anim-section.animate {
	-moz-transform: translateY(0px);
	-webkit-transform: translateY(0px);
	-o-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	visibility: visible;
	opacity: 1
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button, input[type="button"], input[type="reset"], input[type="submit"] {
font:15px Montserrat, sans-serif;	padding:15px 25px; color:#fff;
	background:#ff5722; }
button, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
	color:#fff;
	background:#0583e4;
}


button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.cp .button,
.discussion-new .button,
a.mp_button, .mp_orders_invoice a.button, 
button.mp_button,
.apply-button {
	border:none;
 	border-radius: 3px;
	background: #ff5722;
	color:#fff;
	font-family:Montserrat, sans-serif;
	font-size: 15px;
	line-height: 1;
	padding:15px 25px;
}
.apply-button { padding:15px 45px; }

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.cp .button:hover,
.discussion-new .button:hover,
a.mp_button:hover, .mp_orders_invoice a.button:hover, 
a.mp_button:focus, .mp_orders_invoice a.button:focus, 
button.mp_button:hover, button.mp_button:focus,
.apply-button:hover {
	color:#fff;
	border:none;
	background:#0583e4;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	color:#fff;
	border:none;
	background: #ff5722;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea,
.wpcf7-select,
.wpcf7-date {
	color: #666;
	font-family:Montserrat, sans-serif;
	font-size: 15px;
	border: 1px solid #e4e8ee;
	border-radius: 0px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
	border:1px solid #d5d8dd;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding:8px 10px;
	width:70%;
}

textarea {
	padding:8px 10px;
	width: 98%;
}
.btn { font-family:Montserrat, sans-serif; }


/*--------------------------------------------------------------
5) Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
a {
	color:#0583e4;
}
a:hover,
a:focus,
a:active {
	color:#ff5722;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { 
	color:#263238; 
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { 
	color:#ff5722; 
}



/*--------------------------------------------------------------
## Meta
--------------------------------------------------------------*/

.header_meta { 
	border-bottom:1px solid #e9ecef; 
	font:13px Montserrat, sans-serif; 
	font-weight:normal;
	color:#838fa1; 
}
.header_meta p { 
	margin:0;  
	padding-top:12px; 
}
nav.meta-login { 
	float:right; 
}
nav.meta-login ul { 
	margin:0; 
	padding:0; 
	list-style:none;
}
nav.meta-login ul li { 
	float:left; 
	padding:12px 18px;
	font-weight:bold;
	color:#838fa1; 
	border-left:1px solid #e9ecef; 
}
nav.meta-login ul li:first-child { 
	border:none; 
	font-weight:normal;
	font-size:14px;
	padding:10px 19px;
}
nav.meta-login ul li a { 
	color:#838fa1; 
	text-decoration:none;
}
nav.meta-login ul li a:hover { 
	color:#ff5722; 
}
nav.meta-login ul li i { 
	display:inline; 
	float:left; 
	margin:-2px 5px; 
	font-size:18px;
}


/*--------------------------------------------------------------
5.2) Menus
--------------------------------------------------------------*/
.navbar {
	float:right;
	font:15px Montserrat, sans-serif; 
	color:#838fa1;
	background:none;
	border:none;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #ff5722;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #ff5722;
    color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.navbar ul {
	margin-top: 25px;
}
.navbar-nav > li > a {
    padding: 10px 15px;
	margin-right:4px;
}
.navbar-nav li ul li a { margin:0; }
.navbar li.pull-right {
	margin-top:-5px;
	margin-left:10px;  
}
.navbar li.pull-right i { 
	font-size:22px; 
}
.navbar li.pull-right a.woo-menu-cart { 
	position:relative; 
	display:block; 
	text-align:center;
	border:1px solid #e4e8ee;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; 
}
.navbar li.pull-right a:hover.woo-menu-cart {
	border:1px solid #e4e8ee;	
}
.navbar li.pull-right a.woo-menu-cart span { 
	position:absolute; 
	right:5px; 
	top:5px; 
	padding:0px 6px; 
	font-size:10px; 
	color:#fff;
	background:#ff5722;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;  }
.menu-full .navbar-collapse.collapse { margin:12px 0 6px; }
.menu-full .navbar { width:100%; }
.menu-full .navbar li.pull-right { float:right; }
.menu-full .navbar-nav { float:none; }

/* dropdown */
.dropdown-submenu {
	position:relative;}
.dropdown-menu {
		top:0;
		left:100%;
		margin-top:-6px;
		margin-left:-1px;
}


.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
}
.dropdown-menu {
    margin: 0px auto;
}
.dropdown-menu .dropdown-menu {
    left: 100%;
    top: 0px;
}
.navbar-nav > li > .dropdown-menu {
	background:#ff5722;
	border:none;
	color:#ffd0c1;
	border-top-left-radius:3px !important;
	border-top-right-radius:3px !important;
	top: 93%;
	left:0;
	-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, .175);
     box-shadow: 0 0 0 rgba(0, 0, 0, .175);	
}
.navbar-nav > li:hover > a {
	background:#ff5722;
	color:#fff;
	border-top-left-radius:3px !important;
	border-top-right-radius:3px !important;
}
.dropdown-menu .dropdown-menu {
	background:#ff5722;
	border:none;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    background-color: #ff5722;
    color: #fff;
    outline: 0 none;
    text-decoration: none;
}
.dropdown-menu > li > a {
	color:#ffd0c1;
	background:#ff5722;
    padding: 8px 20px;
}
.dropdown-menu > li > a:hover {
	color:#fff;
	background:#ff5722;
}
.navbar-nav > li > .dropdown-menu { padding:20px 0; }

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/* Menu Two CSS - Full width menu ///////////////////////*/
.menu-full { 
	border-top:1px solid #eee; 
	border-bottom:1px solid #eee; 
}
.menu-full .navbar { 
	margin-bottom:0; 
	float:left; 
}
.menu-full .navbar ul { 
	margin-top:0; 
}
/* Home Page 2 Menu CSS ////////////////////////////////////*/

.home-two-nav .navbar-default .navbar-nav > li > a:hover, .home-two-nav .navbar-default .navbar-nav > li > a:focus {
background-color: #094db9; color: #fff;}
.home-two-nav .navbar-nav > li > .dropdown-menu { background:#094db9; border:none; color:#c7ced9;}
.home-two-nav .navbar-nav > li:hover > a { background:#094db9; color:#fff;}
.home-two-nav .dropdown-menu .dropdown-menu { background:#094db9; border:none;}
.home-two-nav .dropdown-menu > .active > a, .home-two-nav .dropdown-menu > .active > a:focus, .home-two-nav .dropdown-menu > .active > a:hover {
background-color: #094db9; color: #fff; outline: 0 none; text-decoration: none; }
.home-two-nav .dropdown-menu > li > a { color:#c7ced9; background:#094db9; }
.home-two-nav .dropdown-menu > li > a:hover { color:#fff; background:#094db9;}

/* Home Page 3 Menu CSS ////////////////////////////////////*/
.mm-menu > .mm-navbar { display:none; }
.mm-listview .mm-next::before, .mm-listview > li:not(.mm-divider)::after { border:none; }
.mm-listview > li > a, .mm-listview > li > span { color:#637383; }

#menu-left .mm-listview .mm-next { background:none; }

.mm-menu.mm-vertical .mm-listview > li.mm-opened > a.mm-next, .mm-menu.mm-vertical .mm-listview > li.mm-opened > .mm-panel, .mm-menu .mm-listview > li.mm-opened.mm-vertical > a.mm-next, .mm-menu .mm-listview > li.mm-opened.mm-vertical > .mm-panel { background:#f2f2f2; }
#menu-left .mm-listview > li > a:hover, #menu-left .mm-listview > li:hover {color:#fff; background:#ff5722;} 

#menu-left .mm-menu .mm-listview > li.mm-selected > a:not(.mm-next), #menu-left .mm-menu .mm-listview > li.mm-selected > span {
color:#fff; background:#ff5722;}

/*--------------------------------------------------------------
6) Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/*--------------------------------------------------------------
7) Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
8) Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
9) Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 50px;
}

/* sidebar widget */
#secondary .widget h3 { font-size:21px; padding-bottom:25px; margin-bottom:30px;
background:url(../../images/border_bottom.png) no-repeat left bottom; }

#secondary .fcp_featured_widget h3 { font-size:18px; margin-bottom:10px; background:none; padding-bottom:0;  }

#secondary .widget ul { 
border:1px solid #e4e8ee; padding:30px; list-style:none; padding-top:15px;
}
#secondary .widget ul li ul { padding:0; border:none; }

#secondary .widget ul li
{ font:14px Montserrat, sans-serif; padding-top:15px; padding-bottom:20px; border-bottom:1px solid #e4e8ee;  }


#secondary .widget ul li:last-child
{ border:none; padding-bottom:0; }

#secondary .widget { color:#99a6bb;  }
#secondary .widget a { color:#262c38; }
#secondary .widget a:hover { color:#ff5722; }

#secondary .widget_categories { color:#ff5722; }

#secondary .widget_archive select { padding:10px; font:14px Montserrat, sans-serif; border:1px solid #e4e8ee; }

#secondary .widget_calendar table caption { padding:8px 10px; background:#333; color:#fff;  }

#secondary .search-form { border:1px solid #e4e8ee; position:relative; }
#secondary .search-form label { width:100%; margin-bottom:0; }
#secondary .search-field { width:84%; border:none; background:#fff; padding:8px 15px;  }
#secondary .widget_search .search-submit { width:23px; height:23px; padding:0; background:url(../../images/i_search.png) no-repeat left top;
border:none; display:block; text-indent:-9009px; position:absolute; right:8px; top:11px; }
#secondary .widget_search .search-submit:hover { background-position:left bottom; }

#secondary .widget_search .course-submit { position:absolute; right:-1px; top:-1px; padding:13px 10px 12px 10px; 
-webkit-border-top-left-radius:0px; -webkit-border-bottom-left-radius: 0px; -moz-border-radius-topleft: 0px;
-moz-border-radius-bottomleft: 0px; border-top-left-radius: 0px; border-bottom-left-radius: 0px; }
#secondary .widget_search .course-submit i { font-size:18px; }
#secondary .widget_search .search-course .search-field { width: 76%; }

#secondary .widget_search_filter ul { border:none; padding:0; }
#secondary .widget_search_filter ul li { border:none; }
#secondary .widget_search_filter ul li .checkbox, #secondary .widget_search_filter ul li .radio { margin-top:0; margin-bottom:0; }
#secondary .widget_search_filter .search-field {  margin-bottom:30px; border:1px solid #e4e8ee; }
#secondary .widget_search_filter select {   color: #657184; font-family: Open Sans,sans-serif; 
margin-bottom:30px; padding:10px; width:90%; background:#eff2f7; padding:13px; border:1px solid #eff2f7; 
-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }

#secondary .widget_search_filter .filter { margin-bottom:30px; }
#secondary .widget_search_filter .filter li { padding:10px 0; }
#secondary .widget_search_filter .filter li input[type="checkbox"] { margin-right:20px; }


#secondary .widget_tag_cloud a { padding:5px 10px; margin-bottom:5px; font:12px Montserrat, sans-serif !important; display:inline-block; border:1px solid #e4e8ee; color:#99a6bb; line-height:31px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; text-transform:uppercase;  }
#secondary .widget_tag_cloud a:hover { color:#ff5722; }

/* Make sure select elements fit in widgets. */
.widget select { max-width: 100%;}

/* Search widget. */
.widget_search .search-submit { display: none;}

.course-calendar-body caption { background:#ff5722; font:bold 15px Montserrat,sans-serif; color:#fff; text-align:center; text-transform:uppercase; }
.course-calendar-body th { padding:5px; background:#0583e4; color:#fff; text-align:center; }
.course-calendar-body td { padding:5px; border:1px solid #eee; text-align:center; }

.course-calendar a.next-month, .course-calendar a.pre-month { background:#0583e4; color:#fff !important; 
font-weight:bold; padding:5px 10px; font-size:13px; }
.course-calendar a:hover.next-month, .course-calendar a:hover.pre-month { background:#ff5722;}
.course-calendar .next-month, .course-calendar .pre-month { bottom:-35px; }

#secondary .cp_latest_courses_widget .course-title { margin-bottom:0px; padding-bottom: 20px; padding-top: 15px; 
font: 14px Montserrat,sans-serif; border-bottom: 1px solid #e4e8ee;  }
#secondary .cp_latest_courses_widget .course-list-item:last-child  .course-title { border:none; }
.course-list  { padding: 15px 30px 30px; border: 1px solid #e4e8ee; }

.cp_featured_widget_course_link a { background:#0583e4; color:#fff !important; 
font-weight:bold; padding:5px 10px; font-size:13px; }
.cp_featured_widget_course_link a:hover { background:#ff5722;}

#secondary .course_structure_widget ul { border: none; list-style: outside none none; padding:0; }
#secondary .course-structure-block { padding: 15px 30px 30px; border: 1px solid #e4e8ee; }
#secondary .course_structure_widget .tree { margin:0; padding:0;  }
#secondary .course_structure_unit_label { margin-top:0; }
#secondary .tree li label { display:block; float:none; padding:0; width:auto; clear:both; }
#secondary .course_structure_page_li label { border:none; }
#secondary .tree li { margin-left:-5px; }
#secondary .cp_course_strucutre_widget .course_structure_page_li { padding:0; display:table; width:100%; }

#secondary .cp_course_strucutre_widget .course-structure-block ul.tree, 
#secondary .cp_course_strucutre_widget .course-structure-block ul.tree ul {
margin-left:5px; }
#secondary .tree .tree-page-right span { margin-left:0; }
#secondary .cp_course_strucutre_widget .course-structure-block .course_structure_page_li .tree-page-left { padding-left:0; }

/* footer widget */
.footer-widget { padding-top:90px; padding-bottom:40px; color:#657184; }
.footer-widget h6 { font-size:18px; padding-bottom:25px; margin-bottom:50px; color:#fff; 
background:url(../../images/border_bottom.png) no-repeat left bottom; }
.footer-widget ul { margin:0; padding:0; list-style:none; }
.footer-widget ul li { padding-bottom:15px; }
.footer-widget .widget_courses ul li h5, .footer-widget .widget_courses ul li p.meta { margin:0; padding:0;  }

.footer-widget a, .footer-widget ul li a { color:#657184; }
.footer-widget a:hover { color:#fff; }
.footer-widget .menu { font-family:Montserrat, sans-serif; font-weight:bold; }

.footer-widget .wpcf7-form { clear:both; }
.footer-widget .wpcf7-form .wpcf7-text { width:97%; background:#262c38; border:1px solid #3a4251; color:#586375; }
.footer-widget .wpcf7-form .wpcf7-textarea { background:#262c38; border:1px solid #3a4251; color:#586375; }
.footer-widget .wpcf7-form .quicksubmit { position:relative; height:1px; }
.footer-widget .wpcf7-form .wpcf7-submit { position:absolute; top:-71px; right:6px; font-size:16px; 
-webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;  }
.wpcf7-validation-errors { background:#f7e700; color:#262c38; }

/*--------------------------------------------------------------
10 Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
10.1) Posts and pages
--------------------------------------------------------------*/
.main_space { 
	padding-bottom:145px; 
}


.sticky {
	display: block;
}

.hentry {
	margin: 0 0 5em;
}

.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.entry-content p a { text-decoration:underline; }

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


/*--------------------------------------------------------------
10.2) Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
10.3) Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
10.4) Footer Section
--------------------------------------------------------------*/

.site-footer { 
	background:#262c38; 
}
.site-footer .footer-widget:nth-child(4) {  }
.copyright { padding:25px 0; border-top:1px solid #2f3543; }
.site-footer p.copy { float:left; }
.site-footer p.develop { float:right; }
.site-footer p { font-size:14px; color:#657184;  }
.site-footer p a { color:#fff; }
.site-footer p a:hover { color:#a0b6d8; }




/*--------------------------------------------------------------
11) Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
12) Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
12.1) Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
12.2) Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}


/*--------------------------------------------------------------
12.3) SiteOrigin Page Builder
--------------------------------------------------------------*/
.panel-grid { margin-left:0!important; margin-right:0!important; }
.panel-grid .widget { margin-bottom:0 !important; }
.panel-grid .container { padding-left:0; padding-right:0; }
.panel-grid-cell { margin-bottom:0 !important; padding-left:0  !important; padding-right:0  !important; }


/*--------------------------------------------------------------
13) Linearicons-Free Fonts
--------------------------------------------------------------*/
@font-face {
	font-family: 'Linearicons-Free';
	src:url('../fonts/Linearicons-Free.eot?w118d');
	src:url('../fonts/Linearicons-Free.eot?#iefixw118d') format('embedded-opentype'),
		url('../fonts/Linearicons-Free.woff2?w118d') format('woff2'),
		url('../fonts/Linearicons-Free.woff?w118d') format('woff'),
		url('../fonts/Linearicons-Free.ttf?w118d') format('truetype'),
		url('../fonts/Linearicons-Free.svg?w118d#Linearicons-Free') format('svg');
	font-weight: normal;
	font-style: normal;
}

.lnr {
	font-family: 'Linearicons-Free';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.lnr-home:before {
	content: "\e800";
}
.lnr-apartment:before {
	content: "\e801";
}
.lnr-pencil:before {
	content: "\e802";
}
.lnr-magic-wand:before {
	content: "\e803";
}
.lnr-drop:before {
	content: "\e804";
}
.lnr-lighter:before {
	content: "\e805";
}
.lnr-poop:before {
	content: "\e806";
}
.lnr-sun:before {
	content: "\e807";
}
.lnr-moon:before {
	content: "\e808";
}
.lnr-cloud:before {
	content: "\e809";
}
.lnr-cloud-upload:before {
	content: "\e80a";
}
.lnr-cloud-download:before {
	content: "\e80b";
}
.lnr-cloud-sync:before {
	content: "\e80c";
}
.lnr-cloud-check:before {
	content: "\e80d";
}
.lnr-database:before {
	content: "\e80e";
}
.lnr-lock:before {
	content: "\e80f";
}
.lnr-cog:before {
	content: "\e810";
}
.lnr-trash:before {
	content: "\e811";
}
.lnr-dice:before {
	content: "\e812";
}
.lnr-heart:before {
	content: "\e813";
}
.lnr-star:before {
	content: "\e814";
}
.lnr-star-half:before {
	content: "\e815";
}
.lnr-star-empty:before {
	content: "\e816";
}
.lnr-flag:before {
	content: "\e817";
}
.lnr-envelope:before {
	content: "\e818";
}
.lnr-paperclip:before {
	content: "\e819";
}
.lnr-inbox:before {
	content: "\e81a";
}
.lnr-eye:before {
	content: "\e81b";
}
.lnr-printer:before {
	content: "\e81c";
}
.lnr-file-empty:before {
	content: "\e81d";
}
.lnr-file-add:before {
	content: "\e81e";
}
.lnr-enter:before {
	content: "\e81f";
}
.lnr-exit:before {
	content: "\e820";
}
.lnr-graduation-hat:before {
	content: "\e821";
}
.lnr-license:before {
	content: "\e822";
}
.lnr-music-note:before {
	content: "\e823";
}
.lnr-film-play:before {
	content: "\e824";
}
.lnr-camera-video:before {
	content: "\e825";
}
.lnr-camera:before {
	content: "\e826";
}
.lnr-picture:before {
	content: "\e827";
}
.lnr-book:before {
	content: "\e828";
}
.lnr-bookmark:before {
	content: "\e829";
}
.lnr-user:before {
	content: "\e82a";
}
.lnr-users:before {
	content: "\e82b";
}
.lnr-shirt:before {
	content: "\e82c";
}
.lnr-store:before {
	content: "\e82d";
}
.lnr-cart:before {
	content: "\e82e";
}
.lnr-tag:before {
	content: "\e82f";
}
.lnr-phone-handset:before {
	content: "\e830";
}
.lnr-phone:before {
	content: "\e831";
}
.lnr-pushpin:before {
	content: "\e832";
}
.lnr-map-marker:before {
	content: "\e833";
}
.lnr-map:before {
	content: "\e834";
}
.lnr-location:before {
	content: "\e835";
}
.lnr-calendar-full:before {
	content: "\e836";
}
.lnr-keyboard:before {
	content: "\e837";
}
.lnr-spell-check:before {
	content: "\e838";
}
.lnr-screen:before {
	content: "\e839";
}
.lnr-smartphone:before {
	content: "\e83a";
}
.lnr-tablet:before {
	content: "\e83b";
}
.lnr-laptop:before {
	content: "\e83c";
}
.lnr-laptop-phone:before {
	content: "\e83d";
}
.lnr-power-switch:before {
	content: "\e83e";
}
.lnr-bubble:before {
	content: "\e83f";
}
.lnr-heart-pulse:before {
	content: "\e840";
}
.lnr-construction:before {
	content: "\e841";
}
.lnr-pie-chart:before {
	content: "\e842";
}
.lnr-chart-bars:before {
	content: "\e843";
}
.lnr-gift:before {
	content: "\e844";
}
.lnr-diamond:before {
	content: "\e845";
}
.lnr-linearicons:before {
	content: "\e846";
}
.lnr-dinner:before {
	content: "\e847";
}
.lnr-coffee-cup:before {
	content: "\e848";
}
.lnr-leaf:before {
	content: "\e849";
}
.lnr-paw:before {
	content: "\e84a";
}
.lnr-rocket:before {
	content: "\e84b";
}
.lnr-briefcase:before {
	content: "\e84c";
}
.lnr-bus:before {
	content: "\e84d";
}
.lnr-car:before {
	content: "\e84e";
}
.lnr-train:before {
	content: "\e84f";
}
.lnr-bicycle:before {
	content: "\e850";
}
.lnr-wheelchair:before {
	content: "\e851";
}
.lnr-select:before {
	content: "\e852";
}
.lnr-earth:before {
	content: "\e853";
}
.lnr-smile:before {
	content: "\e854";
}
.lnr-sad:before {
	content: "\e855";
}
.lnr-neutral:before {
	content: "\e856";
}
.lnr-mustache:before {
	content: "\e857";
}
.lnr-alarm:before {
	content: "\e858";
}
.lnr-bullhorn:before {
	content: "\e859";
}
.lnr-volume-high:before {
	content: "\e85a";
}
.lnr-volume-medium:before {
	content: "\e85b";
}
.lnr-volume-low:before {
	content: "\e85c";
}
.lnr-volume:before {
	content: "\e85d";
}
.lnr-mic:before {
	content: "\e85e";
}
.lnr-hourglass:before {
	content: "\e85f";
}
.lnr-undo:before {
	content: "\e860";
}
.lnr-redo:before {
	content: "\e861";
}
.lnr-sync:before {
	content: "\e862";
}
.lnr-history:before {
	content: "\e863";
}
.lnr-clock:before {
	content: "\e864";
}
.lnr-download:before {
	content: "\e865";
}
.lnr-upload:before {
	content: "\e866";
}
.lnr-enter-down:before {
	content: "\e867";
}
.lnr-exit-up:before {
	content: "\e868";
}
.lnr-bug:before {
	content: "\e869";
}
.lnr-code:before {
	content: "\e86a";
}
.lnr-link:before {
	content: "\e86b";
}
.lnr-unlink:before {
	content: "\e86c";
}
.lnr-thumbs-up:before {
	content: "\e86d";
}
.lnr-thumbs-down:before {
	content: "\e86e";
}
.lnr-magnifier:before {
	content: "\e86f";
}
.lnr-cross:before {
	content: "\e870";
}
.lnr-menu:before {
	content: "\e871";
}
.lnr-list:before {
	content: "\e872";
}
.lnr-chevron-up:before {
	content: "\e873";
}
.lnr-chevron-down:before {
	content: "\e874";
}
.lnr-chevron-left:before {
	content: "\e875";
}
.lnr-chevron-right:before {
	content: "\e876";
}
.lnr-arrow-up:before {
	content: "\e877";
}
.lnr-arrow-down:before {
	content: "\e878";
}
.lnr-arrow-left:before {
	content: "\e879";
}
.lnr-arrow-right:before {
	content: "\e87a";
}
.lnr-move:before {
	content: "\e87b";
}
.lnr-warning:before {
	content: "\e87c";
}
.lnr-question-circle:before {
	content: "\e87d";
}
.lnr-menu-circle:before {
	content: "\e87e";
}
.lnr-checkmark-circle:before {
	content: "\e87f";
}
.lnr-cross-circle:before {
	content: "\e880";
}
.lnr-plus-circle:before {
	content: "\e881";
}
.lnr-circle-minus:before {
	content: "\e882";
}
.lnr-arrow-up-circle:before {
	content: "\e883";
}
.lnr-arrow-down-circle:before {
	content: "\e884";
}
.lnr-arrow-left-circle:before {
	content: "\e885";
}
.lnr-arrow-right-circle:before {
	content: "\e886";
}
.lnr-chevron-up-circle:before {
	content: "\e887";
}
.lnr-chevron-down-circle:before {
	content: "\e888";
}
.lnr-chevron-left-circle:before {
	content: "\e889";
}
.lnr-chevron-right-circle:before {
	content: "\e88a";
}
.lnr-crop:before {
	content: "\e88b";
}
.lnr-frame-expand:before {
	content: "\e88c";
}
.lnr-frame-contract:before {
	content: "\e88d";
}
.lnr-layers:before {
	content: "\e88e";
}
.lnr-funnel:before {
	content: "\e88f";
}
.lnr-text-format:before {
	content: "\e890";
}
.lnr-text-format-remove:before {
	content: "\e891";
}
.lnr-text-size:before {
	content: "\e892";
}
.lnr-bold:before {
	content: "\e893";
}
.lnr-italic:before {
	content: "\e894";
}
.lnr-underline:before {
	content: "\e895";
}
.lnr-strikethrough:before {
	content: "\e896";
}
.lnr-highlight:before {
	content: "\e897";
}
.lnr-text-align-left:before {
	content: "\e898";
}
.lnr-text-align-center:before {
	content: "\e899";
}
.lnr-text-align-right:before {
	content: "\e89a";
}
.lnr-text-align-justify:before {
	content: "\e89b";
}
.lnr-line-spacing:before {
	content: "\e89c";
}
.lnr-indent-increase:before {
	content: "\e89d";
}
.lnr-indent-decrease:before {
	content: "\e89e";
}
.lnr-pilcrow:before {
	content: "\e89f";
}
.lnr-direction-ltr:before {
	content: "\e8a0";
}
.lnr-direction-rtl:before {
	content: "\e8a1";
}
.lnr-page-break:before {
	content: "\e8a2";
}
.lnr-sort-alpha-asc:before {
	content: "\e8a3";
}
.lnr-sort-amount-asc:before {
	content: "\e8a4";
}
.lnr-hand:before {
	content: "\e8a5";
}
.lnr-pointer-up:before {
	content: "\e8a6";
}
.lnr-pointer-right:before {
	content: "\e8a7";
}
.lnr-pointer-down:before {
	content: "\e8a8";
}
.lnr-pointer-left:before {
	content: "\e8a9";
}
